/* Font setup */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
/* Navigation parts */
.site-size{
  /* width: 1440px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  
}
.nav-bar {
  display: flex;
  /* border: 2px solid red; */
  width: 100%;
  padding: 20px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.mobile-color{
  display: flex;
  /* justify-content: space-between; */
}
.nav-main-bar-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 186px;
}
.logo-title {
  justify-content: center;
  align-items: center;
  gap: 11px;
}
.main-logo {
  width: 62px;
  height: 62px;
  flex-shrink: 0;
}
.main-logo-text {
  color: #111111;
  font-family: Quicksand;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.contact-button {
  display: flex;
  width: 197px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 12px;
  border: none;
  background: #fea301;
  color: #fff;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
.nav-page-titlename {
  display: inline-flex;
  align-items: center;
  gap: 32px;
}
/* Shared styles */
.main-site-fix {
  /* max-width: 1160px; */
  padding: 0px 141px;
}
#nav-page-active {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
}
.nav-page-name {
  font-size: 1.25rem;
  /* font-size: 20px; */
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.dp-flex {
  display: flex;
}
/* colors */
.orange {
  color: #fea301;
}
.skyblue {
  color: #01acfd;
}
.akashi {
  color: #05d4df;
}
.beguni {
  color: #5d58ef;
}

/* Hover parts */
.contact-button:hover {
  background: green;
}
.aero-button:hover {
  background-color: #5d58ef;
}
.mobile-nav {
  display: none;
}

/* Banner section */
.main-banner-section{
  margin-top: 20px;
}
.main-banner-section-div{
  /* display: inline-flex; */
  display: flex;
align-items: center;
justify-content:center;
gap: 50px;
}

.hero-text-area{
font-size: 3.5rem;
 /* font-size: 56px; */
font-style: normal;
font-weight: 700;
line-height: 61px; 
}
.hero-text{
  color: var(--Black, #111);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
  margin: 24px 0px;
}
.hero-button{
  display: flex;
width: 197px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 12px;
color: #FFF;
font-family: Quicksand;
font-size: 1.25rem;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 150% */
background: var(--Black, #111);
}

.hero-image-area img{width: 100%;

}
/*  standard section part */

.standard-section{
  background-image: url("../assets/bg.png");
  background-color:  lightgray 50% ;
   max-width: 1160px;
   margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
padding-bottom: 80px;
flex-direction: column;
align-items: center;
/* gap: 80px; */
width: 100%;
}
.standard-heading{
  margin-top: 60px;
  margin-bottom: 80px ;
}
.standard-heading-title{
  color: #000;
  text-align: center;
  font-family: Quicksand;
  font-size: 2.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 57.5px; 
}
.standard-cards-1{
  display: flex;
  flex: 1; 
padding: 52.819px 40.668px 53.762px 40.878px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 32.069px;
flex-shrink: 0;
  border-radius: 18.864px;
border: 0.943px solid #DEF5FF;
background: linear-gradient(180deg, #DEF5FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;

}
.standard-cards-2{
  display: flex;
  flex: 1; 
  padding: 52.819px 40.668px 53.762px 40.878px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32.069px;
  flex-shrink: 0;
  border-radius: 18.864px;
border: 0.943px solid #FFF4DC;
background: linear-gradient(180deg, #FFF4DC 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}
.standard-cards-3{
  display: flex;
  flex: 1; 
  padding: 52.819px 40.668px 53.762px 40.878px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32.069px;
  flex-shrink: 0;
  border-radius: 18.864px;
border: 0.943px solid #F2E8FF;
background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}
.standard-cards{
  gap: 28.29px;
  /* margin-top: 80px; */
  width: 100%;
 display: flex;
 justify-content: center;
}





.card-logo{
  /* margin-top: 52.82px; */
  width: 136.763px;
height: 136.763px;
flex-shrink: 0;
}
.card-title{
  color: #202020;
text-align: center;
font-family: Quicksand;
font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: 30.654px; /* 125% */
}
.card-text{
  color: #808080;
  text-align: center;
  font-family: Raleway;
  font-size: 0.99rem;
  font-style: normal;
  font-weight: 500;
  line-height: 28.296px;
}
.card-button{
  display: flex;
  width: 102.921px;
  height: 28.296px;
  padding: 4.716px 23.269px 4.716px 0px;
  align-items: center;
  flex-shrink: 0;
  color: #64C8FF;
text-align: center;
font-family: Quicksand;
font-size: 0.99rem;
font-style: normal;
font-weight: 700;
line-height: 28.296px; /* 187.5% */
}

/* BUTTON AERO SECTION */
.standard-button{
  display: flex;
justify-content: center;
align-items: center;
margin-top: 80px;
margin-bottom: 60px;
gap: 20px;
}

.aero-button{
  /* display: flex; */
  width: 60px;
  height: 60px;
  padding: 17px 22.12px 19px 22.5px;
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-shrink: 0; */

  border-radius: 100px;
background: var(--Orange, #FEA301);
}



/* test debug */

.standard-section{
  /* border: 2px solid red; */
}



/************** Responsive parts ****************/

/* Mobile responsive parts */

@media screen and (max-width: 576px) {
  * {
    margin: 0;
    padding: 0;
  }
  .main-site-fix {
    /* width: 1160px; */
    padding: 0px;
  }

  /* Header section */
  .nav-main-bar-div {
    display: none;
  }
  .mobile-color{
    
  }
  .mobile-nav {

    /* border: solid 2px rgb(236, 12, 180); */
   
    width: 100%;
    /* max-width: 100%; */
    /* width: 390px; */
    
    /* display: inline; */
    display: flex;
    justify-content: space-between;
  }
  .main-logo-mobile {
    width: 46px;
    height: 46px;
    flex-shrink: 0;
    margin-left: 16px;
  }
  .mobile-fix-padding{
    margin-left: 16px;
    margin-right: 16px;
    /* padding-left: 16px; */
    /* padding-right: 16px; */
  }
  
  
  .hero-text-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #mobilebutton {
    margin-right: 16px;
  }
  .nav-bar{padding: 0px 10px;
    /* border: solid 2px rgb(236, 12, 180); */
  
  }

  .dp-flex-mobile {
    /* justify-content: center; */
  align-items: center;
  gap: 11px;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    border: 0.5px solid #fea301;
    /* width: 370px; */
    /* width: 390px; */
    /* max-width: 100%; */
    width: 100%;
    height: 70px;
    flex-shrink: 0;
    /* gap: 11px; */
  }
     /* Banner section parts */
  .main-banner-section-div{
    flex-direction: column-reverse;
/* width: 357px; */
/* width: 100%; */
/* padding: 20px 0px; */
padding: 20px 16px;
/* flex-direction: column; */
align-items: center;
gap: 20px;
  }

  .hero-title{
font-size: 2rem;
text-align: center;
font-style: normal;
font-weight: 700;
line-height: normal;
/* margin-top: 20px; */

}
.hero-text{
  color: var(--Black, #111);
  font-size: .875rem;
  margin: 18px 0px;
  color: var(--Black, #111);
text-align: center;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.hero-button{
  border-radius: 8px;
background: var(--Black, #111);
display: flex;
padding: 6px 24px;
justify-content: center;
align-items: center;
gap: 10px;
color: #FFF;
font-family: Quicksand;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 187.5% */
}

}
