/* Font setup */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
/* Navigation parts */
.site-size{
  /* width: 1440px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  
}
.nav-bar {
  display: flex;
  /* border: 2px solid red; */
  width: 100%;
  padding: 20px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.mobile-color{
  display: flex;
  /* justify-content: space-between; */
}
.nav-main-bar-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 186px;
}
.logo-title {
  justify-content: center;
  align-items: center;
  gap: 11px;
}
.main-logo {
  width: 62px;
  height: 62px;
  flex-shrink: 0;
}
.main-logo-text {
  color: #111111;
  font-family: Quicksand;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.contact-button {
  display: flex;
  width: 197px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 12px;
  border: none;
  background: #fea301;
  color: #fff;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
.nav-page-titlename {
  display: inline-flex;
  align-items: center;
  gap: 32px;
}
/* Shared styles */
.main-site-fix {
  /* max-width: 1160px; */
  padding: 0px 141px;
}
#nav-page-active {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
}
.nav-page-name {
  font-size: 1.25rem;
  /* font-size: 20px; */
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.dp-flex {
  display: flex;
}
/* colors */
.orange {
  color: #fea301;
}
.skyblue {
  color: #01acfd;
}
.akashi {
  color: #05d4df;
}
.beguni {
  color: #5d58ef;
}

/* Hover parts */
.contact-button:hover {
  background: green;
}
.view-button:hover {
  background: #fea301;
}
.hero-button:hover {
  background: #fea301;
}
.aero-button:hover {
  background-color: #5d58ef;
}
.mobile-nav {
  display: none;
}

/* Banner section */
.main-banner-section{
  margin-top: 20px;
}
.main-banner-section-div{
  /* display: inline-flex; */
  display: flex;
align-items: center;
justify-content:center;
gap: 50px;
}

.hero-text-area{
font-size: 3.5rem;
 /* font-size: 56px; */
font-style: normal;
font-weight: 700;
line-height: 61px; 
}
.hero-text{
  color: var(--Black, #111);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
  margin: 24px 0px;
}
.hero-button{
  display: flex;
width: 197px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 12px;
color: #FFF;
font-family: Quicksand;
font-size: 1.25rem;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 150% */
background: var(--Black, #111);
}

.hero-image-area img{width: 100%;

}
/*  standard section part */

.standard-section{
  background-image: url("../assets/bg.png");
  background-color:  lightgray 50% ;
   max-width: 1160px;
   margin: 0 auto;
  background-repeat: no-repeat;
  background-position: top center ;
  display: flex;
padding-bottom: 80px;
flex-direction: column;
align-items: center;
}
.standard-heading{
  margin-top: 60px;
  margin-bottom: 80px ;
}
.standard-heading-title{
  color: #000;
  text-align: center;
  font-family: Quicksand;
  font-size: 2.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 57.5px; 
}
.standard-cards-1{
  display: flex;
  flex: 1; 
padding: 52.819px 40.668px 53.762px 40.878px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 32.069px;
flex-shrink: 0;
  border-radius: 18.864px;
border: 0.943px solid #DEF5FF;
background: linear-gradient(180deg, #DEF5FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;

}
.standard-cards-2{
  display: flex;
  flex: 1; 
  padding: 52.819px 40.668px 53.762px 40.878px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32.069px;
  flex-shrink: 0;
  border-radius: 18.864px;
border: 0.943px solid #FFF4DC;
background: linear-gradient(180deg, #FFF4DC 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}
.standard-cards-3{
  display: flex;
  flex: 1; 
  padding: 52.819px 40.668px 53.762px 40.878px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32.069px;
  flex-shrink: 0;
  border-radius: 18.864px;
border: 0.943px solid #F2E8FF;
background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}
.standard-cards{
  gap: 28.29px;
  /* margin-top: 80px; */
  width: 100%;
 display: flex;
 justify-content: center;
}





.card-logo{
  /* margin-top: 52.82px; */
  width: 136.763px;
height: 136.763px;
flex-shrink: 0;
}
.card-title{
  color: #202020;
text-align: center;
font-family: Quicksand;
font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: 30.654px; /* 125% */
}
.card-text{
  color: #808080;
  text-align: center;
  font-family: Raleway;
  font-size: 0.99rem;
  font-style: normal;
  font-weight: 500;
  line-height: 28.296px;
}
.card-button{
  display: flex;
  width: 102.921px;
  height: 28.296px;
  padding: 4.716px 23.269px 4.716px 0px;
  align-items: center;
  flex-shrink: 0;
  color: #64C8FF;
text-align: center;
font-family: Quicksand;
font-size: 0.99rem;
font-style: normal;
font-weight: 700;
line-height: 28.296px; /* 187.5% */
}

/* BUTTON AERO SECTION */
.standard-button{
  display: flex;
justify-content: center;
align-items: center;
margin-top: 80px;
margin-bottom: 60px;
gap: 20px;
}

.aero-button{
  /* display: flex; */
  width: 60px;
  height: 60px;
  padding: 17px 22.12px 19px 22.5px;
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-shrink: 0; */

  border-radius: 100px;
background: var(--Orange, #FEA301);
}

/* Stories section */

.stories{
background:linear-gradient(0deg, rgba(254, 163, 1, 0.30) 0%, rgba(255, 255, 255, 0.30) 100%),url("../assets/bg.png");
background-color:  lightgray 50% ;
 /* /* max-width: 1160px; */
 /* margin: 0 auto; */
background-repeat: no-repeat;
background-position: top center ;
display: flex;
padding-bottom: 80px;
flex-direction: column;
align-items: center;
}

.stories-section-main-div{
 max-width: 1160px;
 margin: 0 auto;
display: flex;
/* padding-bottom: 80px; */
flex-direction: column;
align-items: center;
}
.view-button{
  display: flex;
width: 197px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 12px;
background: var(--Black, #111);
color: #FFF;
font-family: Quicksand;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px; 
margin-top: 80px;
/* margin-bottom: 60px; */
/* margin-bottom: 0px; */
}

.stories-img-section{
  /* margin: 80px 0px; */
  display: flex;
  /* width: 100%; */
/* width: 1440px; */
/* padding: 60px 0px; */
flex-direction: row;
justify-content: center;
/* align-items: center; */
gap: 19.174px;
}
.stories-heading{
  margin-bottom: 80px;
}

.stories-main-img{
  flex: 1;
  /* width: 540.267px; */
  max-width: 100%;
  /* width: 100%; */
/* height: 630.518px; */
/* height: auto; */
flex-shrink: 0;
border-radius: 16px;
background: #FFF;
}

.stories-big-image{
  /* max-width: 540px; */
  width: 100%;
  height: 337px;
  flex-shrink: 0;
  border-radius: 16px 16px 0px 0px;
}
.movable-button{
  display: flex;
  width: 174.51px;
  height: 47.934px;
  padding: 14.38px 18.876px 15.339px 19.174px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 47.934px;
background: #3CD8E8;
margin-left: 38.35px;
margin-top: -24px;
position: relative;
}
.stories-title-big{
  color: #000;
  font-family: Quicksand;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 38.347px;
  margin: 61.51px 99.43px 51.77px 38.35px;
}
.stories-text-big{
color: #666;
font-family: Raleway;
font-size: 0.98rem;
font-style: normal;
font-weight: 500;
line-height: 28.761px;
margin-left: 38.35px;
}

/* multi parts */

.stories-title-multi{
  color: #000;
  font-family: Quicksand;
  font-size: 15.339px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.761px; /* 187.5% */
  /* margin-left: 38px; */
  margin: 19.17px 38px 28.76px 38px;
}
.movable-multi-button{
  margin-top: -40px;
  margin-left: 38px;
  display: flex;
  width: 174.51px;
  height: 38.347px;
  padding: 9.587px 18.876px 10.545px 19.174px;
  justify-content: center;
  align-items: center;
  color: #FFF;
font-family: Raleway;
font-size: 0.93rem;
font-style: normal;
font-weight: 500;
line-height: 28.761px; /* 187.5% */
text-transform: capitalize;
border-radius: 47.934px;
background: #95B226;
}
.stories-multi-img-main{
  flex: 1;
  /* display: flex; */
  display: grid;
  grid-template-columns:repeat(2,1fr);
  /* width: 291px; */
  /* width: 100%; */
max-width: 100%;
  /* padding: 157.809px 38.655px 0px 38.347px; */
  /* flex-direction: column; */
  /* justify-content: flex-end; */
  /* align-items: flex-start; */
  gap: 19.174px;
  border-radius: 16px 16px 0px 0px;
}
.stories-multi-box{
  display: flex;
  /* width: 290.693px; */
  /* width: 100%; */
  max-width: 100%;
  /* padding: 157.809px 38.347px 28.76px 38.347px; */
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 19.174px;
  border-radius: 16px;
background: #FFF;
}
.stories-multi-img{
  border-radius: 16px 16px 0px 0px;
  max-width: 100%;

}
.movable-multi-button-col{
background: #5D58F0;
}

/* footer-section */
.footer-section-main{
  background: #01ACFD;
}
.footer-section-main-div{
  max-width: 1160px;
  margin: 0 auto;
 display: flex;
 padding-bottom: 80px;
 margin-top: 120px;
 /* flex-direction: column;
  */
  /* justify-content: center; */
  justify-content: space-between;
  /* justify-content: center; */
 /* align-items: center; */
 align-items:flex-start;
}
.footer1-part{
  gap: 35px;
  flex-direction: column;
  flex: 1;
}

.footer-logo-img{
  width: 82.902px;
height: 81.652px;
flex-shrink: 0;
}
.footer-logo-title{
  color: #FFF;
font-family: Quicksand;
font-size: 2.7rem;

font-style: normal;
font-weight: 700;
line-height: 39.509px; /* 93.75% */
}
.footer-text-logo{
  color: #FFF;
font-family: Quicksand;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

/* 2nd part */
.fist-quicklinks , .fist-quicklinks2{
  color: #FFF;

text-align: left;
  font-family: Quicksand;
  font-size: 1.5rem;

  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.quicklinks{
  color: #FFF;
font-family: Quicksand;
font-size: 1.25rem;
font-style: normal;
text-align: left;
font-weight: 500;
line-height: normal;
}

/* social-logo-part */
.social-logoes{border-radius: 4px;
  display: flex;
  width: 40.613px;
  height: 40px;
  /* padding: 10px 10.294px 10px 10px; */
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.social-links{
  gap: 10.15px ;
}
.footer2-part{flex: 1;
 
flex-direction: column;
gap: 32px;}
.first-quicklinks-allign{
  flex-direction: column;
gap: 20px;
}
.footer3-part{
  
  flex: 1;  
  
  flex-direction: column;
}
.get-in-touch{
  color: #FFF;
font-family: Quicksand;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 100% */
}
.help-div-footer{
  flex-direction: column;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.help-div-footer2{
  /* flex-direction: row; */
  flex-direction: column;
  align-items: center;
  /* align-items: ; */
  justify-content: center;
  /* justify-content: left; */
  /* gap: 32px; */
}
.fist-quicklinks2{
margin-bottom: 12px;
}


  /* background: #DD4B39;} */

/* test debug */

.stories-main-img{
  /* border: 2px solid red; */
}


/* special-effects */
.specialeffect {
  height: 50px;  
  overflow: hidden;
  position: relative;
}

.specialeffect h3 {
  color: purple;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: left;
  animation: specialeffect 15s ease-out;
}

@keyframes specialeffect {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0%);
  }
}




/************** Responsive parts ****************/

/* Mobile responsive parts */

@media screen and (max-width: 576px) {
  * {
    margin: 0;
    padding: 0;
  }
  .main-site-fix {
    /* width: 1160px; */
    padding: 0px;
  }

  /* Header section */
  .nav-main-bar-div {
    display: none;
  }
  
  .mobile-nav {

    /* border: solid 2px rgb(236, 12, 180); */
   
    width: 100%;
    /* max-width: 100%; */
    /* width: 390px; */
    
    /* display: inline; */
    display: flex;
    justify-content: space-between;
  }
  .main-logo-mobile {
    width: 46px;
    height: 46px;
    flex-shrink: 0;
    margin-left: 16px;
  }
  .mobile-fix-padding{
    margin-left: 16px;
    margin-right: 16px;
    /* padding-left: 16px; */
    /* padding-right: 16px; */
  }
  
  
  .hero-text-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #mobilebutton {
    margin-right: 16px;
  }
  .nav-bar{padding: 0px 10px;
    /* border: solid 2px rgb(236, 12, 180); */
  
  }

  .dp-flex-mobile {
    /* justify-content: center; */
  align-items: center;
  gap: 11px;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    border: 0.5px solid #fea301;
    /* width: 370px; */
    /* width: 390px; */
    /* max-width: 100%; */
    width: 100%;
    height: 70px;
    flex-shrink: 0;
    /* gap: 11px; */
  }
     /* Banner section parts */
  .main-banner-section-div{
    flex-direction: column-reverse;
/* width: 357px; */
/* width: 100%; */
/* padding: 20px 0px; */
padding: 20px 16px;
/* flex-direction: column; */
align-items: center;
gap: 20px;
  }

  .hero-title{
font-size: 2rem;
text-align: center;
font-style: normal;
font-weight: 700;
line-height: normal;
/* margin-top: 20px; */

}
.hero-text{
  color: var(--Black, #111);
  font-size: .875rem;
  margin: 18px 0px;
  color: var(--Black, #111);
text-align: center;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.hero-button{
  border-radius: 8px;
background: var(--Black, #111);
display: flex;
padding: 6px 24px;
justify-content: center;
align-items: center;
gap: 10px;
color: #FFF;
font-family: Quicksand;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px; 
}

/* standard section mobile */

.standard-heading-title{
  color: #000;
text-align: center;
font-family: Quicksand;
font-size: 1.55rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.standard-heading{
  margin-top: 40px;
  margin-bottom: 20px ;
}
.standard-section{
 
   /* max-width: 1160px; */
   width: 390px;
   margin: 0 auto;
  background-repeat: no-repeat;
  background-position: top center ;
  display: flex;
padding-bottom: 0px;
flex-direction: column;
align-items: center;
}
.dp-flex{
  flex-direction: column;
}
.standard-cards-1{
  display: flex;
padding: 36px 28px;
flex-direction: column;
align-items: center;
gap: 22px;
align-self: stretch;
  border-radius: 12.772px;
  border: 0.639px solid #DEF5FF;
  background: linear-gradient(180deg, #DEF5FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
  box-shadow: 0px 0px 19.158px 0.639px rgba(0, 0, 0, 0.05) inset;
}
.standard-cards-2{
  display: flex;
  padding: 36px 28px;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  align-self: stretch;
  border-radius: 12.772px;
border: 0.639px solid #FFF4DC;
background: linear-gradient(180deg, #FFF4DC 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
box-shadow: 0px 0px 19.158px 0.639px rgba(0, 0, 0, 0.05) inset;
}
.standard-cards-3{
  display: flex;
padding: 36px 28px;
flex-direction: column;
align-items: center;
gap: 22px;
align-self: stretch;
border-radius: 12.772px;
border: 0.639px solid #F2E8FF;
background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
box-shadow: 0px 0px 19.158px 0.639px rgba(0, 0, 0, 0.05) inset;

}
.card-logo{
  width: 92.595px;
  height: 92.595px;
}
.card-title{
  color: #202020;
text-align: center;
font-family: Quicksand;
font-size: 1.02rem;
font-style: normal;
font-weight: 700;
line-height: 20.754px;

}
.card-text{
  color: #808080;
text-align: center;
font-family: Raleway;
font-size: 10.217px;
font-style: normal;
font-weight: 500;
line-height: 19.158px; /* 187.5% */

}
.card-button{
  display: flex;
width: 53.929px;
height: 12.772px;
flex-direction: column;
justify-content: center;
text-align: center;
font-family: Quicksand;
font-size: 0.6385625rem;
font-style: normal;
font-weight: 700;
line-height: 19.158px;
}
.standard-button{
  display: none;
}
/* our story mobile responsive */

.stories-main-img{
  display: none;
}

.stories{
  background:linear-gradient(0deg, rgba(254, 163, 1, 0.30) 0%, rgba(255, 255, 255, 0.30) 100%),url("../assets/bg.png");
  background-color:  lightgray 50% ;
   /* /* max-width: 1160px; */
   /* margin: 0 auto; */
  background-repeat: no-repeat;
  background-position: top center ;
  display: flex;
  padding-bottom: 80px;
  flex-direction: column;
  align-items: center;

  
  }
  
  .stories-section-main-div{
  width: 390px;
  margin: 0 auto;
 background-repeat: no-repeat;
 background-position: top center ;
 display: flex;
padding-bottom: 0px;
flex-direction: column;
align-items: center;
  }
 
  
  .stories-img-section{
    /* margin: 80px 0px; */
    display: flex;
    /* width: 100%; */
  /* width: 1440px; */
  /* padding: 60px 0px; */
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  /* gap: 19.174px; */
  gap: 0px;
  }
  
  .stories-main-img{
    flex: 1;
    /* width: 540.267px; */
    max-width: 100%;
    /* width: 100%; */
  /* height: 630.518px; */
  /* height: auto; */
  /* flex-shrink: 0; */
  border-radius: 16px;
  background: #FFF;
  }
  
 
  
  /* multi parts */
  
  .stories-heading{
    margin-bottom: 20px;
  }

  .stories-title-multi{
    color: #000;
    font-family: Quicksand;
    font-size: .6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 17.125px; /* 187.5% */
    /* margin: 19.17px 38px 28.76px 38px; */
    margin: 0;
    margin-left: 22px;
  }
  .movable-multi-button{
    margin-top: -25px;
    margin-left: 22px;
    color: #FFF;
font-family: Raleway;
font-size: .5rem;
font-style: normal;
font-weight: 500;
line-height: 17.125px; /* 187.5% */
text-transform: capitalize;
    display: flex;
width: 103.909px;
height: 22.833px;
padding: 5.708px 11.24px 6.279px 11.416px;
justify-content: center;
align-items: center;
    border-radius: 28.542px;
background: #95B226;
  }
  .stories-multi-img-main{
    flex: 1;
    /* display: flex; */
    display: grid;
    grid-template-columns:repeat(2,1fr);
    /* width: 291px; */
    /* width: 100%; */
  max-width: 100%;
    /* padding: 157.809px 38.655px 0px 38.347px; */
    /* flex-direction: column; */
    /* justify-content: flex-end; */
    /* align-items: flex-start; */
    gap: 11.31px;
    border-radius: 9.527px 9.527px 0px 0px;
  }
  .stories-multi-box{
    /* display: flex; */
    /* width: 290.693px; */
    /* width: 100%; */
    max-width: 100%;
  display: flex;
  /* width: 173.088px; */
  padding: 0px 0px 17.125px 0px;
  /* padding: 0px; */
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 11.417px;
  border-radius: 9.527px;
background: #FFF;

  }
  .stories-multi-img{
    border-radius: 9.527px 9.527px 0px 0px;
    max-width: 100%;
  
  }

  /* footer section mobile */
  .footer-section-main-div{
    width: 390px;
   margin: 0 auto;
  display: flex;
padding-bottom: 0px;
margin-left: 21px;
flex-direction: column;
align-items: left;
gap: 32px;
margin-top: 65px;
  }
  .logo-and-title{
    flex-direction: row;
    gap: 9px;
  }
  /*  final footer */
  .help-div-footer{
    flex-direction: row;
  }
  .footer3-part{
  
    flex: 1;  
    
    /* flex-direction: column; */
    flex-direction: row;
  }
  
  .help-div-footer{
    flex-direction: column;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    justify-content: end;
    align-items: first baseline;
    gap: 32px;
  }
  
  .social-links{
    gap: 10.15px ;
    flex-direction: row;
    /* align-items: left; */
  }
}
